<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NRSC Farmer Advisor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header class="header">
    <div class="logo-title">
        <img src="{{ url_for('static', filename='app_logo.png') }}" alt="NRSC Farmer Advisor Logo" class="logo">
        <h1>NRSC Farmer Advisor</h1>
    </div>
</header>

<main class="content">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <p>NRSC Farmer Advisor &copy; {{ 2025 }}</p>
</footer>
</body>
</html>
